{{set . "title" "Home"}}
{{template "header.html" .}}



<div class="container">
  <div class="row">
    <form method="POST">
      <div class="form-group has-validation">
        <label for="title_editing">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="{{ .website.Title }}">
        <span class="invalid-feedback">{{.errors.tittle}}</span>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

{{template "footer.html" .}}
